.stats-list {
  display: flex;
  align-self: center;
}
.stats-list table {
  flex: 1 1 auto;
  max-width: 95%;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.stats-list thead,
tbody,
tr {
  margin: 0.1em;
}

.stats-list td {
  text-align: center;
  padding: 2em 0;
}

.stats-list tbody > tr {
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0, 0.5);
}
