.stats-list {
  display: flex;
  align-self: center;
}
.stats-list table {
  flex: 1 1 auto;
  max-width: 95%;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.stats-list thead,
tbody,
tr {
  margin: 0.1em;
}

.stats-list td {
  text-align: center;
  padding: 2em 0;
}

.stats-list tbody > tr {
  box-shadow: 0px 0px 0px 1px rgb(0, 0, 0, 0.5);
  background-color: #ececec;
}
.stats-list tbody > tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
.stats-list tbody > tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
.stats-list tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.stats-list tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
